@import "../../main.scss";

.transparentBg {
    border: 1px solid $primary-blue;
    color: $primary-blue;
}

.opaqueBg {
    background-color: $primary-blue;
    color: $white;
}

.buttonShared {
    // width: 142px;
    border-radius: $border-rad-sml;
    font-family: $poppins;
    font-weight: $wt600;
    font-size: $font12;
    letter-spacing: 0.01em;
}
