@import "../../main.scss";

.detailsBarApartmentName {
    font-size: $font15;
}

.detailsBarText {
    font-weight: $wt500;
    font-size: $font13;
    line-height: 22px;
    // box-sizing: border-box;
    // position: relative;
}

.detailsBarHighlighted {
    background-color: $bluish-gray;
}
