@import "../../main.scss";

.primaryBlueBg {
    background-color: rgb(16, 156, 241, 0.18);
}

.loginManBgImg {
}

.signupManBgImg {
}

.signupPageCurve {
    width: 100%;
    height: 100%;
    object-position: top right;
}

.loginPageCurve {
    position: relative;
    object-position: left bottom;
}

@media only screen and (max-width: 1200px) {
    .loginManBgImg {
        height: 80%;
        position: absolute;
        bottom: 0;
        object-position: left bottom;
    }

    .signupManBgImg {
        height: 80%;
        width: 100%;
        position: absolute;
        bottom: 0;
        object-position: left bottom;
    }
}

@media only screen and (max-width: 900px) {
    .signupManBgImg {
        height: 80%;
        width: 100%;
        position: absolute;
        bottom: 0;
        object-position: left bottom;
    }
}

@media only screen and (max-width: 800px) {
    .loginManBgImg {
        height: 60%;
    }

    .signupManBgImg {
        height: 60%;
    }
}
