@import "../../main.scss";

.primaryBlueBg {
    background-color: rgb(16, 156, 241, 0.18);
}

.loginManBgImg {
}

.signupManBgImg {
}

.signupPageCurve {
    width: 100%;
    height: 100%;
    // position: absolute;
    background-image: url("../../assets/signup-pg-curve.png");
    background-size: 90% 80%;
    background-repeat: no-repeat;
    background-position: -30px 130px;
}

.loginPageCurve {
    position: relative;
    object-position: left bottom;
}

@media only screen and (max-width: 1200px) {
    .loginManBgImg {
        height: 80%;
        position: absolute;
        bottom: 0;
        object-position: left bottom;
    }

    .signupManBgImg {
        height: 80%;
        position: absolute;
        bottom: 0;
        object-position: left bottom;
    }
}

@media only screen and (max-width: 800px) {
    .loginManBgImg {
        height: 60%;
    }
}
