@import "../../main.scss";

.apCardBoxShadow {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.08);
}

.apCardContainerClosed {
    // height: $apartment-card-height;
    height: auto;
    width: auto;
}

.apCardContainerOpen {
    // height: $apartment-card-height;
    height: auto;
    width: auto;
}

// @media (min-width: 900px) {
@media (min-width: $apartment-cards-on-side-breakpoint) {
    .apCardContainerOpen {
        width: $apartment-card-width;
    }

    .apCardContainerClosed {
        // height: $apartment-card-height;
        height: auto;
        width: 100%;
    }
}

// @media (min-width: )

.apCardText div div p {
    font-weight: $wt500;
    font-size: $font15;
    letter-spacing: $letter-spacing;
}

.grayText {
    color: $gray;
}
