@import "../../main.scss";

.apCardBoxShadow {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.08);
}

.apCardContainer {
    height: 68px;
    width: 274px;
}

.apCardText div div p {
    font-weight: $wt500;
    font-size: $font15;
    letter-spacing: $letter-spacing;
}

.grayText {
    color: $gray;
}
