@import "../main.scss";

.customerSupportContainer {
    height: 272px;
    width: calc(100% - 525px);
}

.featureRequestContainer {
    height: 260px;
    width: 100%;
}

.ratingContainer {
    height: 310px;
    width: 525px;
}

.thanksMessageContainer {
    height: 210px;
    width: 100%;
}
