@import "../main.scss";

.customerSupportContainer {
    height: auto;
    width: 100%;
}

.featureRequestContainer {
    height: auto;
    width: 100%;
}

.ratingContainer {
    margin-bottom: 16px;
    height: auto;
    width: 100%;
}

@media (min-width: 768px) {
    .ratingContainer {
        margin-bottom: 0px;
        height: auto;
        width: 50%;
    }

    .customerSupportContainer {
        height: auto;
        width: 50%;
    }
}

.thanksMessageContainer {
    height: 210px;
    width: 100%;
}
