@import "../main.scss";

.debug1 {
    border: 2px solid black;
}

.debug2 {
    border: 2px solid red;
}

.debug3 {
    border: 3px solid greenyellow;
}

.debug4 {
    border: 1px solid black;
}

.debug5 {
    border: 1px solid goldenrod;
}

.debug6 {
    border: 1px solid plum;
}

.contentDivSidebarAdjustment {
    margin-left: $sidebar-width-closed;
    width: calc(100% - $sidebar-width-closed);
}

@media (min-width: 768px) {
    .contentDivSidebarAdjustment {
        margin-left: 0px;
        width: 100%;
    }
}

.pageBg {
    background-color: $page-bg;
}

.pageBaseSidebarClosed {
    width: $sidebar-width-closed;
}

.pageBaseSidebarOpen {
    width: $sidebar-width-open;
}

.sidebarCover {
    background: black;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.22;
}
