@import "../main.scss";

.debug1 {
    border: 2px solid black;
}

.debug2 {
    border: 2px solid red;
}

.debug3 {
    border: 3px solid greenyellow;
}

.pageBg {
    // background-color: black;
    background-color: $page-bg;
}
