@import "../main.scss";

.contentDivSidebarAdjustment {
    margin-left: $sidebar-width-closed;
    width: calc(100% - $sidebar-width-closed);
}

@media (min-width: 768px) {
    .contentDivSidebarAdjustment {
        margin-left: 0px;
        width: calc(100% - $sidebar-width-closed);
    }
}

.pageBg {
    background-color: $page-bg;
}

.pageBaseSidebarClosed {
    width: $sidebar-width-closed;
}

.pageBaseSidebarOpen {
    width: $sidebar-width-open;
}

.sidebarCover {
    background: black;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.22;
}
