@import "../main.scss";

.customerServiceContainer {
    height: 272px;
    width: 476px;
}

.featureRequestContainer {
    height: 260px;
    width: 1110px;
}

.ratingContainer {
    height: 272px;
    width: 625px;
}

.thanksMessageContainer {
    height: 210px;
    width: 1110px;
}
