@import "../../main.scss";

// .arrangeForMobile {
//     flex-direction: row;
// }

// @media (max-width: $breakpoint-large) {
//     .arrangeForMobile {
//         flex-direction: column;
//     }
// }

.inputContainerLeft {
    max-width: 208px;
}

.inputContainerRight {
    // width: 368px;
    width: auto;
}

.searchBarContainer {
    border-radius: $border-rad-lg;
    background-color: $white;
}
