@import "../../main.scss";

.inputContainerLeft {
    width: 408px;
}

.inputContainerRight {
    // width: 368px;
    width: auto;
}

.searchBarContainer {
    border-radius: $border-rad-lg;
    background-color: $white;
}
