.apTitle {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15.2703px;
    line-height: 23px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #ffffff;
}
