@import "../../main.scss";

// .closedSidebar {
//     display: none;
// }

.logoText {
    font-family: $poppins;
    font-weight: 600;
    font-size: 18px;
}

.placeholder {
    border: 2px solid red;
}
