@import "./main.scss";

html,
body,
#root,
.App {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    letter-spacing: $letter-spacing;
    font-family: $poppins;
}

h5 {
    font-family: $poppins;
    color: $neutral-blue;
    font-size: $font13;
    font-weight: $wt500;
}

.App {
    text-align: center;
}

// whiteBg => bg-white

.blueText {
    color: $primary-blue;
}

.grayText {
    color: $gray;
}

.poppins {
    font-family: "Poppins", sans-serif;
}
