$blue-primary: #109cf1;
$off-black: #192a3e;
$neutral-blue: #334d6e;
$gray: #707683;
$bluish-gray: #c2cfe0;
$green: #298021;
$orange: #f7685b;
$white: #ffffff;

$border-rad-sml: 4px; // 3.55 px in Figma
$border-rad-md: 12px;
$border-rad-lg: 25px;

$poppins: "Poppins", sans-serif;
$wt600: 600;
$wt500: 500;
$wt400: 400;
$font19: 13px;
$font13: 13px;
$font12: 12px;
$font11: 11px;
$font9: 9px;

$letter-spacing: 0.01em;
