@import "../../main.scss";

#mapContainer {
    height: 100%;
    width: 100%;
}

.mapHeight {
    height: 350px;
    // 400px height on small screens because "100vh" could mean iPhone or iPad at this size
}

.mapWidthSidebarOpen {
    width: calc(
        100vw - $sidebar-width-open - $map-screen-padding-left - $map-screen-padding-right - $map-screen-margin-right - $misc-remaining-pixels
    );
}

.mapWidthSidebarClosed {
    width: calc(
        100vw - $sidebar-width-closed - $map-screen-padding-left - $map-screen-padding-right - $map-screen-margin-right - $misc-remaining-pixels
    );
}

@media (min-width: $apartment-cards-on-side-breakpoint) {
    .mapHeight {
        height: calc(100vh - 40px - 10px - 96px - 20px - 30px);
        // 40px: profile bar
        // 10px: pt-2.5
        // 96px: search bar
        // 20px: mt-5
        // 30px: misc additional space at bottom of map when "- 30px" isn't added
    }

    .mapWidthSidebarOpen {
        width: calc(
            100vw - $sidebar-width-open - $map-screen-padding-left - $map-screen-padding-right - $apartment-card-width - $map-screen-margin-right -
                $misc-remaining-pixels
        );
    }

    .mapWidthSidebarClosed {
        width: calc(
            100vw - $sidebar-width-closed - $map-screen-padding-left - $map-screen-padding-right - $apartment-card-width - $map-screen-margin-right -
                $misc-remaining-pixels
        );
    }
}
